button, input, input {
    font-size: 1.5rem;
    margin: 15px;
}

button {
    padding: 5px 15px;
    border-radius: 5px;
}

u {
    color: rgb(122, 126, 298);
}

i {
    color: #FD6100;
}

p {
    margin: 5px;
}

a {
    color: #2C7DFA;
}